.header {
	text-align: center;
	/*background-color: white;*/
	height: 100%;
}

.header a {
	text-decoration: none;
	/*color: green;*/
}

.extra-bottom-space-15{
	margin-bottom:15px;
}

.hide-nav{
	display:none;
}
