html, body{
	height:100%;
}

footer{
	text-align:center;
	border-top:1px solid #ccc;
	padding-top:10px;
}

#app{
	min-height:calc(100% - 40px);
}

.header {
	text-align: center;
	height: 100%;
}

.header a,
.btn-link:hover,
.btn-link:active,
.btn-link:focus{
	text-decoration: none;
}

.nav-btn-custom{
	margin-top:5px;
}

.extra-bottom-space-15{
	margin-bottom:15px;
}

.hide-nav{
	display:none;
}
